{{ $artifacts := .Values.artifactRepository }}

{{ if hasKey $artifacts "s3" }}
  {{ $s3 := $artifacts.s3 }}
  {{ $_ := set $s3 "keyFormat" "{{workflow.namespace}}/{{workflow.name}}/{{pod.name}}"  }} 
{{ else }}
  {{ $gcs := $artifacts.gcs }}
  {{ $_ := set $gcs "keyFormat" "{{workflow.namespace}}/{{workflow.name}}/{{pod.name}}"  }} 
{{ end }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: artifact-repositories
  annotations:
    workflows.argoproj.io/default-artifact-repository: default
data:
  default: |
    {{ toYaml $artifacts | nindent 4 }}
