{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argo-workflow
  labels:
    {{- include "argo-workflows-plural.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
---
{{- end }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argo-workflow-read
  labels:
  {{ include "argo-workflows-plural.labels" . | nindent 4 }}
  annotations:
    workflows.argoproj.io/rbac-rule: "true"
    workflows.argoproj.io/rbac-rule-precedence: "0"