apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels: {{- include "tensorboards.labels" . | nindent 4 }}
  name: {{ include "tensorboards.fullname" . }}-controller-leader-election-role-binding
  namespace: kubeflow
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "tensorboards.fullname" . }}-controller-leader-election-role
subjects:
  - kind: ServiceAccount
    name: {{ include "tensorboards.serviceAccountName" . }}-controller
    namespace: kubeflow
