apiVersion: v1
kind: Secret
metadata:
  name: pipelines-db-user
  namespace: kubeflow
  labels: {{- include "pipelines.labels" . | nindent 4 }}
type: Opaque
data:
  USERNAME: {{ .Values.config.databases.connection.username | b64enc }}
  PASSWORD: {{ .Values.config.databases.connection.password | b64enc | quote }}
