apiVersion: v1
kind: Service
metadata:
  name: {{ include "pipelines.fullname" . }}-metadata-envoy
  namespace: kubeflow
  labels:
    {{- include "pipelines.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.metadata.envoy.service.port }}
      targetPort: md-envoy
      protocol: TCP
      name: http-md-envoy
    - port: {{ .Values.metadata.envoy.service.admin.port }}
      targetPort: envoy-admin
      protocol: TCP
      name: http-envoy-admin
  selector:
    {{- include "pipelines.metadataEnvoySelectorLabels" . | nindent 6 }}
