apiVersion: v1
data:
  appName: pipeline
  appVersion: 1.8.1
  autoUpdatePipelineDefaultVersion: "true"
  bucketHost: s3.amazonaws.com
  bucketRegion: {{ .Values.config.objectStore.bucketRegion }}
  bucketName: {{ .Values.config.objectStore.bucketName }}
  defaultPipelineRoot: s3://{{ .Values.config.objectStore.bucketName }}/pipelines
  cacheDb: {{ .Values.config.databases.cacheDB }}
  cacheImage: gcr.io/google-containers/busybox
  cacheNodeRestrictions: "false"
  cronScheduleTimezone: UTC
  dbHost: {{ .Values.config.databases.connection.host }}
  dbPort: {{ .Values.config.databases.connection.port | quote }}
  dbConMaxLifeTime: 120s
  dbDriverName: mysql
  dbGroupConcatMaxLen: "4194304"
  mlmdDb: {{ .Values.config.databases.metadataDB }}
  pipelineDb: {{ .Values.config.databases.pipelineDB }}
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/component: ml-pipeline
    app.kubernetes.io/name: kubeflow-pipelines
    application-crd-id: kubeflow-pipelines
  name: pipeline-install-config
  namespace: kubeflow
