apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels: {{- include "serving.labels" . | nindent 4 }}
  name: {{ include "serving.fullname" . }}-web-app-cluster-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "serving.fullname" . }}-web-app-cluster-role
subjects:
  - kind: ServiceAccount
    namespace: kubeflow
    name: {{ include "serving.serviceAccountName" . }}-web-app
