apiVersion: v1
data:
  USERID_HEADER: {{ .Values.global.userIDHeader }}
kind: ConfigMap
metadata:
  labels: {{- include "serving.labels" . | nindent 4 }}
  name: {{ include "serving.fullname" . }}-web-app-parameters
  namespace: kubeflow
