apiVersion: v1
kind: Service
metadata:
  name: {{ include "serving.fullname" . }}-web-app
  labels:
    {{- include "serving.labels" . | nindent 4 }}
  namespace: kubeflow
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.webApp.service.port }}
      targetPort: website
      protocol: TCP
      name: http
  selector:
    {{- include "serving.selectorLabels" . | nindent 4 }}
