apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels: {{- include "katib.labels" . | nindent 4 }}
  name: {{ include "katib.fullname" . }}-web-app-cluster-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "katib.fullname" . }}-web-app-cluster-role
subjects:
  - kind: ServiceAccount
    name: {{ include "katib.serviceAccountName" . }}-web-app
    namespace: kubeflow
