{{- if .Values.airflow.redis.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: airflow-redis-password
stringData:
  redis-password: {{ .Values.secrets.redis_password | b64enc | quote }}
{{- end }}
{{- if .Values.sshConfig.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: airflow-ssh-config
data:
  id_rsa: {{ .Values.sshConfig.id_rsa | b64enc | quote }}
  id_rsa_pub: {{ .Values.sshConfig.id_rsa_pub | b64enc | quote }}
{{- end }}
{{- if .Values.httpConfig.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: airflow-git-http-config
data:
  username: {{ .Values.httpConfig.username | b64enc | quote }}
  password: {{ .Values.httpConfig.password | b64enc | quote }}
{{- end }}
