{{- if .Values.airflow.redis.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: airflow-redis-password
stringData:
  redis-password: {{ .Values.secrets.redis_password | b64enc | quote }}
{{- end }}
{{- with .Values.airflow.gitSync.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: airflow-ssh-config
data:
  id_rsa: {{ .id_rsa | b64enc | quote }}
  id_rsa_pub: {{ .id_rsa_pub | b64enc | quote }}
---
{{- end }}