# Default values for knative.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

observabilityConfig:
  metrics.backend-destination: opencensus
  request-metrics-backend-destination: opencensus
  logging.request-log-template: '{"httpRequest": {"requestMethod": "{{.Request.Method}}", "requestUrl": "{{js .Request.RequestURI}}", "requestSize": "{{.Request.ContentLength}}", "status": {{.Response.Code}}, "responseSize": "{{.Response.Size}}", "userAgent": "{{js .Request.UserAgent}}", "remoteIp": "{{js .Request.RemoteAddr}}", "serverIp": "{{.Revision.PodIP}}", "referer": "{{js .Request.Referer}}", "latency": "{{.Response.Latency}}s", "protocol": "{{.Request.Proto}}"}, "traceId": "{{index .Request.Header "X-B3-Traceid"}}"}'
  logging.enable-request-log: "true"
  logging.enable-probe-request-log: "true"
  profiling.enable: "true"
  metrics.opencensus-address: plural-otel-collector.monitoring.svc.cluster.local:55678
networkConfig:
  ingress.class: "istio.ingress.networking.knative.dev"
  domainTemplate: "{{.Name}}-{{.Namespace}}.{{.Domain}}"
  httpProtocol: "Redirected"
  defaultExternalScheme: "https"
loggingConfig:
  loglevel.controller: info
  loglevel.autoscaler: info
  loglevel.queueproxy: debug
  loglevel.webhook: info
  loglevel.activator: debug
  loglevel.hpaautoscaler: info
  loglevel.net-certmanager-controller: info
  loglevel.net-istio-controller: debug
  loglevel.net-nscert-controller: info
leaderElectionConfig: {}
gcConfig: {}
featuresConfig: {}
domainConfig:
  kubeflow.david.onplural.sh: ""
deploymentConfig:
  progressDeadline: 600s
defaultsConfig: {}
autoscalerConfig: {}
tracingConfig: {}
istioConfig:
  gateway.kubeflow.kubeflow-gateway: istio-ingressgateway.istio.svc.cluster.local
  local-gateway.knative.knative-local-gateway: "knative-local-gateway.istio.svc.cluster.local"
  enable-virtualservice-status: 'true'
