apiVersion: v1
kind: ConfigMap
metadata:
  name: lightdash
  labels:
    {{- include "lightdash.labels" . | nindent 4 }}
data:
  # -- The hostname of the PostgreSQL database
  PGHOST: {{ include "lightdash.database.host" . }}
  # -- The username for the lightdash account in the PostgreSQL database
  PGUSER: {{ include "lightdash.database.user" . }}
  # -- The database port of the PostgreSQL database
  PGPORT: {{ include "lightdash.database.port" . | quote }}
  # -- The name of the PostgreSQL database
  PGDATABASE: {{ include "lightdash.database.name" . }}
  {{- toYaml .Values.configMap | nindent 2 }}
  PGSSLMODE: {{ lightdash.database.sslmode . | quote }}
{{- end }}