apiVersion: v1
kind: Secret
metadata:
  name: hasura.plural-hasura.credentials.postgresql.acid.zalan.do
  labels:
{{ include "hasura.labels" . | indent 4 }}
stringData:
  username: hasura
  password: {{ .Values.postgres.password }}