apiVersion: v1
kind: ConfigMap
metadata:
  name: nodeslist
  labels:
    {{- include "typesense.labels" . | nindent 4 }}
data:
  {{- $replicaCount := .Values.replicaCount }}
  {{- $nodesList := "" }}
  {{- range $index, $ := until $replicaCount }}
  {{- $nodeName := printf "typesense-%d.ts.typesense.svc.cluster.local:8107:8108" $index }}
  {{- $nodesList = print $nodesList $nodeName (if ne $index (sub $replicaCount 1)), else "" }}
  {{- end }}
  nodes: "{{ $nodesList }}"