apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
  name: {{ include "pipelines.fullname" . }}-argo-workflow-controller-role-binding
  namespace: kubeflow
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "pipelines.fullname" . }}-argo-workflow-controller-role
subjects:
  - kind: ServiceAccount
    name: {{ include "pipelines.serviceAccountName" . }}-argo-workflow-controller
    namespace: kubeflow
