lightdash:
  postgresql:
    enabled: false
    #secretName: lightdash.plural-lightdash.credentials.postgresql.acid.zalan.do
  externalDatabase:
    existingSecret: lightdash.plural-lightdash.credentials.postgresql.acid.zalan.do
    existingSecretPasswordKey: password
    host: plural-lightdash
    user: lightdash
    password: "changeme"
    database: lightdash
    port: 5432
  #configMap:
    # Example connection details for Lightdash postgres database - Change me!
  #  PGHOST: "plural-lightdash"
  #  PGPORT: "5432"
  #  PGUSER: lightdash
  #  PGDATABASE: "lightdash"
  #secrets:
      # Password for postgres user above - Change me!
  #  PGPASSWORD:

    # If you know the public url of the finished Lightdash installation add it here
    # you may have to return later and change this
    SITE_URL: ""


postgres:
  team: plural
  user: lightdash
  dbName: lightdash
  ownerChart: lightdash

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    kubernetes.io/ingress.class: "nginx"




