lightdash:
  image:
    repository: dkr.plural.sh/lightdash/lightdash/lightdash
    tag: 0.529.2
  postgresql:
    enabled: false
  externalDatabase:
    existingSecret: lightdash.plural-postgres-lightdash.credentials.postgresql.acid.zalan.do
    secretKeys:
      passwordKey: password
  configMap:
    PGSSLMODE: "no-verify"
    PGHOST: "plural-postgres-lightdash"
    PGPORT: "5432"
    PGUSER: lightdash
    PGDATABASE: "lightdash"
  resources:
    requests:
      cpu: '500m'
      memory: '512Mi'
  browserless-chrome:
    resources:
      requests:
        memory: '512Mi'
        cpu: '500m'

postgres:
  team: plural
  user: lightdash
  dbName: lightdash
  ownerChart: lightdash

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
    kubernetes.io/ingress.class: "nginx"

configOverlays:
- name: app-image
  spec:
    name: app image
    documentation: Lightdash image version deployment
    updates:
    - path: ['lightdash', 'image', 'tag']




