apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: {{ include "console.fullname" . }}
  labels:
{{ include "console.labels" . | indent 4 }}
spec:
  podMetricsEndpoints:
    - port: http
      path: '/metrics'
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: console
      app.kubernetes.io/instance: {{ .Release.Name }}
  podTargetLabels:
    - app.kubernetes.io/name
    - app.kubernetes.io/instance