apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: console
  labels:
{{ include "console.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  serviceName: console-headless
  selector:
    matchLabels:
      app.kubernetes.io/name: console
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: console
        app.kubernetes.io/instance: {{ .Release.Name }}
        {{ if .Values.podLabels }}
        {{ toYaml .Values.podLabels | nindent 8 }}
        {{ end }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: {{ .Values.service.port | quote }}
        checksum/config: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
    spec:
      serviceAccountName: console
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      terminationGracePeriodSeconds: {{ .Values.shutdownDelay }}
      containers:
      - name: console
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        envFrom:
        - secretRef:
            name: console-env
        env:
        {{ include "console.env" . | nindent 8 }}
        {{- if  .Values.extraEnv }}
        {{- toYaml .Values.extraEnv | nindent 8 }}
        {{- end }}
        volumeMounts:
        {{ if .Values.secrets.id_rsa }}
        - name: console-ssh
          mountPath: "/root/.ssh"
        {{ end }}
        - name: console-conf
          mountPath: "/root/.plural"
        ports:
        - name: http
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        - name: epmd
          containerPort: 4369
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /health
            port: http
        readinessProbe:
          httpGet:
            path: /health
            port: http
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
      {{ if .Values.secrets.id_rsa }}
      - name: console-ssh
        secret:
          defaultMode: 384
          secretName: console-ssh
      {{ end }}
      - name: console-conf
        secret:
          secretName: console-conf
