strimzi-kafka-operator:
  watchAnyNamespace: true

create: true

kafkaVolumes:
  "0":
    type: persistent-claim
    size: 100Gi
    deleteClaim: false

kafka:
  replicas: 3
  version: 2.8.0
  storage:
    type: jbod
  additionalListeners: []
  config:
    offsets.topic.replication.factor: 3
    transaction.state.log.replication.factor: 3
    transaction.state.log.min.isr: 2
    log.message.format.version: "2.8"
    inter.broker.protocol.version: "2.8"

entityOperator:
  topicOperator: {}
  userOperator: {}

zookeeper:
  replicas: 3
  storage:
    type: persistent-claim
    size: 100Gi
    deleteClaim: false
  metricsConfig:
    type: jmxPrometheusExporter
    valueFrom:
      configMapKeyRef:
        name: kafka-metrics
        key: zookeeper-metrics-config.yml
