apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: touca-redis
  namespace: {{ .Release.Name }}-touca
spec: 
  accessModes:
    - ReadWriteOnce
  resources: 
    requests:
      storage: {{ .Values.redis.volume.size }}
