apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: kubeflow/{{ include "katib.fullname" . }}-controller-certs
  name: katib.kubeflow.org
  labels: {{- include "katib.labels" . | nindent 4 }}
webhooks:
  - name: defaulter.experiment.katib.kubeflow.org
    sideEffects: None
    admissionReviewVersions:
      - v1
    clientConfig:
      caBundle: Cg==
      service:
        name: {{ include "katib.fullname" . }}-controller
        namespace: {{ .Release.Namespace }}
        path: /mutate-experiment
    rules:
      - apiGroups:
          - kubeflow.org
        apiVersions:
          - v1beta1
        operations:
          - CREATE
          - UPDATE
        resources:
          - experiments
  - name: mutator.pod.katib.kubeflow.org
    sideEffects: None
    admissionReviewVersions:
      - v1
    clientConfig:
      caBundle: Cg==
      service:
        name: {{ include "katib.fullname" . }}-controller-controller
        namespace: {{ .Release.Namespace }}
        path: /mutate-pod
    namespaceSelector:
      matchLabels:
        katib.kubeflow.org/metrics-collector-injection: enabled
    # Once the AdmissionWebhookMatchConditions feature gate is enabled by default, we should switch to control based on userInfo.
    # REF:
    # - AdmissionWebhookMatchConditions: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-matchconditions
    # - Tracking issue: https://github.com/kubeflow/katib/issues/2206
    objectSelector:
      matchExpressions:
        - key: katib.kubeflow.org/metrics-collector-injection
          operator: NotIn
          values:
            - disabled
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - v1
        operations:
          - CREATE
        resources:
          - pods
