apiVersion: v1
kind: Service
metadata:
  name: {{ include "katib.fullname" . }}-controller
  namespace: kubeflow
  labels:
    {{- include "katib.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.controller.service.webhook.port }}
      targetPort: webhook
      protocol: TCP
      name: https-webhook
    - port: {{ .Values.controller.service.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: http-metrics
  selector:
    {{- include "katib.controllerSelectorLabels" . | nindent 4 }}
