apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: configs.observability.traceshield.io
spec:
  group: observability.traceshield.io
  names:
    kind: Config
    listKind: ConfigList
    plural: configs
    singular: config
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Config is the Schema for the configs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            properties:
              name:
                pattern: ^config$
                type: string
            type: object
          spec:
            description: ConfigSpec defines the desired state of Config
            properties:
              mimir:
                properties:
                  config:
                    properties:
                      distributor_limits:
                        properties:
                          max_inflight_push_requests:
                            type: integer
                          max_inflight_push_requests_bytes:
                            type: integer
                          max_ingestion_rate:
                            type: number
                        type: object
                      ingester_limits:
                        properties:
                          max_inflight_push_requests:
                            format: int64
                            type: integer
                          max_ingestion_rate:
                            type: number
                          max_series:
                            format: int64
                            type: integer
                          max_tenants:
                            format: int64
                            type: integer
                        type: object
                      ingester_stream_chunks_when_using_blocks:
                        type: boolean
                      multi_kv_config:
                        properties:
                          mirror_enabled:
                            description: Mirroring enabled or not. Nil = no change.
                            type: boolean
                          primary:
                            description: Primary store used by MultiClient. Can be
                              updated in runtime to switch to a different store (eg.
                              consul -> etcd, or to gossip). Doing this allows nice
                              migration between stores. Empty values are ignored.
                            type: string
                        required:
                        - mirror_enabled
                        - primary
                        type: object
                    type: object
                  configMap:
                    properties:
                      key:
                        default: runtime.yaml
                        type: string
                      name:
                        default: mimir-runtime
                        type: string
                      namespace:
                        default: mimir
                        type: string
                    required:
                    - key
                    - name
                    - namespace
                    type: object
                required:
                - configMap
                type: object
            required:
            - mimir
            type: object
          status:
            description: ConfigStatus defines the observed state of Config
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
