apiVersion: v2
name: sentry
description: A Helm chart for deploying sentry on plural
type: application
version: 0.2.15
appVersion: "21.5.1"
dependencies:
- name: sentry
  version: 11.3.3
  repository: https://pluralsh.github.io/plural-helm-charts
- name: postgres
  version: 0.1.13
  repository: https://pluralsh.github.io/module-library
  condition: postgres.enabled
- name: rabbitmq
  version: 0.1.0
  repository: https://pluralsh.github.io/module-library
