# Default values for sentry.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

postgres:
  enabled: true
  team: plural
  user: sentry
  dbName: sentry
  ownerChart: sentry
  infix: ""

configOverlays:
- name: web-cpu
  labels:
    platform.plural.sh/component: sentry-web
    platform.plural.sh/kind: deployment
    platform.plural.sh/resource: cpu
  spec:
    name: web cpu
    documentation: cpu requests for web deployment
    updates:
    - path: ['sentry', 'sentry', 'sentry', 'web', 'resources', 'requests', 'cpu']
- name: web-mem
  labels:
    platform.plural.sh/component: sentry-web
    platform.plural.sh/kind: deployment
    platform.plural.sh/resource: memory
  spec:
    name: web memory
    documentation: memory requests for web deployment
    updates:
    - path: ['sentry', 'sentry', 'sentry', 'web', 'resources', 'requests', 'memory']
- name: worker-cpu
  labels:
    platform.plural.sh/component: sentry-worker
    platform.plural.sh/kind: deployment
    platform.plural.sh/resource: cpu
  spec:
    name: worker cpu
    documentation: cpu requests for worker deployment
    updates:
    - path: ['sentry', 'sentry', 'sentry', 'worker', 'resources', 'requests', 'cpu']
- name: worker-mem
  labels:
    platform.plural.sh/component: sentry-worker
    platform.plural.sh/kind: deployment
    platform.plural.sh/resource: memory
  spec:
    name: worker memory
    documentation: memory requests for worker deployment
    updates:
    - path: ['sentry', 'sentry', 'sentry', 'worker', 'resources', 'requests', 'memory']
- name: clickhouse-cpu
  labels:
    platform.plural.sh/component: sentry-clickhouse
    platform.plural.sh/kind: statefulset
    platform.plural.sh/resource: cpu
  spec:
    name: clickhouse cpu
    documentation: cpu requests for clickhouse statefulset
    updates:
    - path: ['sentry', 'sentry', 'clickhouse', 'clickhouse', 'resources', 'requests', 'cpu']
- name: clickhouse-mem
  labels:
    platform.plural.sh/component: sentry-clickhouse
    platform.plural.sh/kind: statefulset
    platform.plural.sh/resource: memory
  spec:
    name: clickhouse memory
    documentation: memory requests for clickhouse statefulset
    updates:
    - path: ['sentry', 'sentry', 'clickhouse', 'clickhouse', 'resources', 'requests', 'memory']

sentry:
  images:
    symbolicator:
      repository: gcr.io/pluralsh/getsentry/symbolicator
    snuba:
      repository: gcr.io/pluralsh/getsentry/snuba
    sentry:
      repository: gcr.io/pluralsh/getsentry/sentry
      tag: 21.5.1-extended
    relay:
      repository: gcr.io/pluralsh/getsentry/relay

  serviceAccount:
    name: sentry

  externalPostgresql:
    host: plural-sentry
    port: 5432
    username: sentry
    # password: postgres
    database: sentry
    sslMode: require

  postgresql:
    enabled: false
    existingSecret: sentry.plural-sentry.credentials.postgresql.acid.zalan.do
    existingSecretKey: password

    image:
      registry: gcr.io
      repository: pluralsh/postgres
      tag: 11.7.0-debian-10-r9
    metrics:
      image:
        registry: gcr.io
        repository: pluralsh/postgres-exporter
        tag: 0.8.0
      enabled: true
      serviceMonitor:
        enabled: true
  
  kafka:
    enabled: false
    image:
      registry: gcr.io/pluralsh
    
    zookeeper:
      image:
        registry: gcr.io/pluralsh

  metrics:
    image:
      repository: gcr.io/pluralsh/prom/statsd-exporter
      tag: v0.20.2
    enabled: true
    serviceMonitor:
      enabled: true

  redis:
    enabled: false
    image:
      registry: gcr.io/pluralsh
      tag: 6.0.9-debian-10-r0
    metrics:
      image:
        registry: gcr.io/pluralsh
        tag: 1.12.1-debian-10-r11

  rabbitmq:
    enabled: false
    host: rabbitmq.rabbitmq

  nginx:
    enabled: false

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/use-regex: "true"
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
  
  sentry:
    web:
      autoscaling:
        enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 350Mi
    worker:
      autoscaling:
        enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 750Mi
    ingestConsumer:
      autoscaling:
        enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 300Mi

  snuba:
    api:
      autoscaling:
        enabled: true
      resources:
        requests:
          cpu: 20m
          memory: 100Mi
    sessionsConsumer:
      resources:
        requests:
          cpu: 20m
          memory: 100Mi
    consumer:
      resources:
        requests:
          cpu: 20m
          memory: 100Mi
    outcomesConsumer:
      resources:
        requests:
          cpu: 20m
          memory: 100Mi
    replacer:
      resources:
        requests:
          cpu: 20m
          memory: 100Mi
    transactionsConsumer:
      resources:
        requests:
          cpu: 20m
          memory: 100Mi

  symbolicator:
    autoscaling:
      enabled: true
    api:
      resources:
        requests:
          cpu: 20m
          memory: 50Mi

  clickhouse:
    clickhouse:
      image: 'gcr.io/pluralsh/yandex/clickhouse-server'
      imageVersion: '20.8.9.6'
      init:
        image: 'gcr.io/pluralsh/busybox'
        imageVersion: latest
      
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
