# Default values for sentry.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

sentry:
  images:
    symbolicator:
      repository: gcr.io/pluralsh/getsentry/symbolicator
    snuba:
      repository: gcr.io/pluralsh/getsentry/snuba
    sentry:
      repository: gcr.io/pluralsh/getsentry/sentry
      tag: 21.5.1-extended
    relay:
      repository: gcr.io/pluralsh/getsentry/relay

  serviceAccount:
    name: sentry

  externalPostgresql:
    host: plural-sentry
    port: 5432
    username: sentry
    # password: postgres
    database: sentry
    sslMode: require

  postgresql:
    enabled: false
    existingSecret: sentry.plural-sentry.credentials.postgresql.acid.zalan.do
    existingSecretKey: password

    image:
      registry: gcr.io
      repository: pluralsh/postgres
      tag: 11.7.0-debian-10-r9
    metrics:
      image:
        registry: gcr.io
        repository: pluralsh/postgres-exporter
        tag: 0.8.0
      enabled: true
      serviceMonitor:
        enabled: true
  
  kafka:
    image:
      registry: gcr.io/pluralsh
    
    zookeeper:
      image:
        registry: gcr.io/pluralsh

  metrics:
    image:
      repository: gcr.io/pluralsh/prom/statsd-exporter
      tag: v0.20.2
    enabled: true
    serviceMonitor:
      enabled: true

  redis:
    image:
      registry: gcr.io/pluralsh
      tag: 6.0.9-debian-10-r0
    metrics:
      image:
        registry: gcr.io/pluralsh
        tag: 1.12.1-debian-10-r11

  rabbitmq:
    enabled: false
    host: rabbitmq.rabbitmq

  nginx:
    enabled: false

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/use-regex: "true"
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
  
  sentry:
    web:
      autoscaling:
        enabled: true
    worker:
      autoscaling:
        enabled: true
    ingestConsumer:
      autoscaling:
        enabled: true

  snuba:
    autoscaling:
      enabled: true

  symbolicator:
    autoscaling:
      enabled: true

  clickhouse:
    clickhouse:
      image: 'gcr.io/pluralsh/yandex/clickhouse-server'
      imageVersion: '20.8.9.6'
      init:
        image: 'gcr.io/pluralsh/busybox'
        imageVersion: latest
    