apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
  name: {{ include "pipelines.fullname" . }}-scheduled-workflow-role
  namespace: kubeflow
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - kubeflow.org
    resources:
      - scheduledworkflows
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
