apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "airbyte.fullname" . }}-worker
  labels:
    {{- include "airbyte.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.worker.replicaCount }}
  selector:
    matchLabels:
      airbyte: worker
  template:
    metadata:
      labels:
        airbyte: worker
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/env-secret.yaml") . | sha256sum }}
      {{- if .Values.worker.podAnnotations }}
        {{- include "common.tplvalues.render" (dict "value" .Values.worker.podAnnotations "context" $) | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ include "airbyte.serviceAccountName" . }}
      automountServiceAccountToken: true
      {{- if .Values.worker.nodeSelector }}
      nodeSelector: {{- include "common.tplvalues.render" (dict "value" .Values.worker.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.tolerations }}
      tolerations: {{- include "common.tplvalues.render" (dict "value" .Values.worker.tolerations "context" $) | nindent 8 }}
      {{- end }}
      containers:
      - name: airbyte-worker-container
        image: {{ include "airbyte.workerImage" . }}
        imagePullPolicy: "{{ .Values.worker.image.pullPolicy }}"
        envFrom:
        - secretRef:
            name: airbyte-env
        env:
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "airbyte.postgresql.secretName" . }}
              key: {{ include "airbyte.database.existingsecret.key" . }}
        - name: WORKSPACE_DOCKER_MOUNT
          value: workspace
        - name: LOG_LEVEL
          value: "{{ .Values.worker.log.level }}"
        - name: KUBE_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: GOOGLE_APPLICATION_CREDENTIALS
          valueFrom:
            secretKeyRef:
              name: {{ default "airbyte-env" .Values.googleCredentialsSecret }}
              key: GOOGLE_APPLICATION_CREDENTIALS
        {{- if .Values.worker.extraEnv }}
        {{ .Values.worker.extraEnv | toYaml | nindent 8 }}
        {{- end }}
        {{- if .Values.worker.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: /
            port: heartbeat
          initialDelaySeconds: {{ .Values.worker.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.worker.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.worker.livenessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.worker.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.worker.livenessProbe.failureThreshold }}
        {{- end }}
        {{- if .Values.worker.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: /
            port: heartbeat
          initialDelaySeconds: {{ .Values.worker.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.worker.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.worker.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.worker.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.worker.readinessProbe.failureThreshold }}
        {{- end }}
        ports:
        - name: heartbeat
          containerPort: 9000 # for heartbeat server
        - containerPort: 9001 # start temporal worker port pool
        - containerPort: 9002
        - containerPort: 9003
        - containerPort: 9004
        - containerPort: 9005
        - containerPort: 9006
        - containerPort: 9007
        - containerPort: 9008
        - containerPort: 9009
        - containerPort: 9010
        - containerPort: 9011
        - containerPort: 9012
        - containerPort: 9013
        - containerPort: 9014
        - containerPort: 9015
        - containerPort: 9016
        - containerPort: 9017
        - containerPort: 9018
        - containerPort: 9019
        - containerPort: 9020
        - containerPort: 9021
        - containerPort: 9022
        - containerPort: 9023
        - containerPort: 9024
        - containerPort: 9025
        - containerPort: 9026
        - containerPort: 9027
        - containerPort: 9028
        - containerPort: 9029
        - containerPort: 9030 # end temporal worker port pool
        {{- if .Values.worker.resources }}
        resources: {{- toYaml .Values.worker.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: gcs-log-creds-volume
          mountPath: /secrets/gcs-log-creds
          readOnly: true
      volumes:
      - name: gcs-log-creds-volume
        secret:
          secretName: {{ default "gcs-log-creds" .Values.gcpCredentialsSecret }}
