{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "trace-shield.fullname" . }}-controller
rules:
- apiGroups:
  - observability.traceshield.io
  resources:
  - configs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - observability.traceshield.io
  resources:
  - tenants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - observability.traceshield.io
  resources:
  - tenants/finalizers
  verbs:
  - update
- apiGroups:
  - observability.traceshield.io
  resources:
  - tenants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
{{- end -}}
