apiVersion: plural.sh/v1alpha1
kind: Dependencies
metadata:
  application: true
  description: Deploys tempo crafted for the target cloud
spec:
  dependencies:
  - type: helm
    name: bootstrap
    repo: bootstrap
    version: '>= 0.5.1'
  - type: helm
    name: redis
    repo: redis
    version: '>= 0.1.6'
  - type: terraform
    name: aws
    repo: tempo
    version: '>= 0.1.0'
    optional: true
  - type: terraform
    name: azure
    repo: tempo
    version: '>= 0.1.0'
    optional: true
  - type: terraform
    name: gcp
    repo: tempo
    version: '>= 0.1.0'
    optional: true
