name: azure-grafana
description: Installs grafana on an AKS cluster
provider: AZURE
oidcSettings:
  authMethod: POST
  uriFormat: https://{domain}/login/generic_oauth
  domainKey: hostname
dependencies:
- repo: bootstrap
  name: azure-k8s
- repo: ingress-nginx
  name: ingress-nginx-azure
sections:
- name: grafana
  configuration:
  - name: hostname
    documentation: FQDN to use for your grafana installation
    type: DOMAIN
  items:
  - type: TERRAFORM
    name: azure
  - type: HELM
    name: grafana
