apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels: {{- include "notebooks.labels" . | nindent 4 }}
  name: {{ include "notebooks.fullname" . }}-pod-defaults-cluster-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "notebooks.fullname" . }}-pod-defaults-cluster-role
subjects:
  - kind: ServiceAccount
    name: {{ include "notebooks.serviceAccountName" . }}-pod-defaults
    namespace: kubeflow
