apiVersion: v1
kind: Service
metadata:
  name: {{ include "notebooks.fullname" . }}-pod-defaults
  labels:
    {{- include "notebooks.labels" . | nindent 4 }}
  namespace: kubeflow
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.podDefaults.service.port }}
      targetPort: webhook
      protocol: TCP
      name: http-webhook
  selector:
    {{- include "notebooks.podDefaultsSelectorLabels" . | nindent 4 }}
