apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels: {{- include "notebooks.labels" . | nindent 4 }}
  name: {{ include "notebooks.fullname" . }}-controller-leader-election-role
  namespace: kubeflow
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
