apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
  name: {{ include "pipelines.fullname" . }}-api-server-cluster-role
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
    verbs:
      - get
      - list
      - delete
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - kubeflow.org
    resources:
      - scheduledworkflows
    verbs:
      - create
      - get
      - list
      - update
      - patch
      - delete
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
---
aggregationRule:
  clusterRoleSelectors:
    - matchLabels:
        rbac.authorization.kubeflow.org/aggregate-to-kubeflow-pipelines-edit: "true"
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-edit: "true"
  name: {{ include "pipelines.fullname" . }}-edit
rules: []
---
aggregationRule:
  clusterRoleSelectors:
    - matchLabels:
        rbac.authorization.kubeflow.org/aggregate-to-kubeflow-pipelines-view: "true"
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-pipelines-edit: "true"
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-view: "true"
  name: {{ include "pipelines.fullname" . }}-view
rules: []
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-pipelines-edit: "true"
  name: aggregate-to-{{ include "pipelines.fullname" . }}-edit
rules:
  - apiGroups:
      - pipelines.kubeflow.org
    resources:
      - pipelines
      - pipelines/versions
    verbs:
      - create
      - delete
      - update
  - apiGroups:
      - pipelines.kubeflow.org
    resources:
      - experiments
    verbs:
      - archive
      - create
      - delete
      - unarchive
  - apiGroups:
      - pipelines.kubeflow.org
    resources:
      - runs
    verbs:
      - archive
      - create
      - delete
      - retry
      - terminate
      - unarchive
  - apiGroups:
      - pipelines.kubeflow.org
    resources:
      - jobs
    verbs:
      - create
      - delete
      - disable
      - enable
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-pipelines-view: "true"
  name: aggregate-to-{{ include "pipelines.fullname" . }}-view
rules:
  - apiGroups:
      - pipelines.kubeflow.org
    resources:
      - pipelines
      - pipelines/versions
      - experiments
      - runs
      - jobs
    verbs:
      - get
      - list
  - apiGroups:
      - kubeflow.org
    resources:
      - viewers
    verbs:
      - create
      - get
      - delete
  - apiGroups:
      - pipelines.kubeflow.org
    resources:
      - visualizations
    verbs:
      - create
