name: istio-ingress-gcp
description: Installs istio-ingress on an aws eks cluster
provider: GCP
primary: true
dependencies:
- repo: bootstrap
  name: gcp-k8s
sections:
- name: istio-ingress
  configuration: []
  items:
  - type: TERRAFORM
    name: kube
  - type: HELM
    name: istio-ingress
