apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
  name: {{ include "pipelines.fullname" . }}-persistence-agent-cluster-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "pipelines.fullname" . }}-persistence-agent-cluster-role
subjects:
  - kind: ServiceAccount
    name: {{ include "pipelines.serviceAccountName" . }}-persistence-agent
    namespace: kubeflow
