apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pipelines.fullname" . }}-persistence-agent
  labels:
    {{- include "pipelines.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "pipelines.persistenceAgentSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "pipelines.persistenceAgentSelectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "pipelines.serviceAccountName" . }}-persistence-agent
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-persistence-agent
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.persistenceAgent.image.repository }}:{{ .Values.persistenceAgent.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.persistenceAgent.image.pullPolicy }}
          args:
            - --logtostderr=true
            - --namespace=$(NAMESPACE)
            - --ttlSecondsAfterWorkflowFinish=$(TTL_SECONDS_AFTER_WORKFLOW_FINISH)
            - --numWorker=$(NUM_WORKERS)
            - --mlPipelineAPIServerName=$(API_SERVER_HOST_SERVICE)
            - --mlPipelineServiceHttpPort=$(API_SERVER_HTTP_PORT)
            - --mlPipelineServiceGRPCPort=$(API_SERVER_GRPC_PORT)
            - --mlPipelineAPIServerBasePath=$(API_SERVER_BASE_PATH)
            - --clientQPS=$(MAX_CLIENT_QPS)
            - --clientBurst=$(MAX_CLIENT_BURST)
          command:
            - persistence_agent
          envFrom:
            - configMapRef:
                name: {{ include "pipelines.fullname" . }}-persistence-agent-parameters
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
