apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
  name: {{ include "pipelines.fullname" . }}-persistence-agent-role
  namespace: kubeflow
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - kubeflow.org
    resources:
      - scheduledworkflows
    verbs:
      - get
      - list
      - watch
