# Default values for grafana.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

test-base:
  enabled: false
  repository: grafana
  testName: grafana-integration
  promoteTag: warm

grafana:
  rbac:
    pspEnabled: false

  image:
    repository: dkr.plural.sh/grafana/grafana/grafana
    tag: 9.2.1
  initChownData:
    image:
      repository: gcr.io/pluralsh/library/busybox
      tag: 1.35.0
  downloadDashboardsImage:
    repository: gcr.io/pluralsh/curlimages/curl
  grafana.ini:
    security:
      allow_embedding: true
  admin:
    existingSecret: grafana-credentials
  plugins:
  - grafana-worldmap-panel
  - natel-discrete-panel
  - grafana-oncall-app
  service:
    type: ClusterIP
  persistence:
    enabled: true
    type: statefulset
    inMemory:
      enabled: false
  sidecar:
    dashboards:
      provider:
        name: sidecar
        allowUiUpdates: true
        foldersFromFilesStructure: true
      enabled: true
      searchNamespace: ALL
      folderAnnotation: k8s-sidecar-target-directory
    datasources:
      enabled: true
      searchNamespace: ALL
    plugins:
      enabled: false
      searchNamespace: ALL
  ingress:
    enabled: true
    path: /.*
    annotations:
      kubernetes.io/tls-acme: "true"
      kubernetes.io/ingress.class: "nginx"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
      nginx.ingress.kubernetes.io/use-regex: "true"
