apiVersion: v2
name: loki
description: helm chart for loki
type: application
version: 0.1.1
appVersion: "v1.0.0"
dependencies:
- name: loki-distributed
  version: 0.43.0
  repository: https://grafana.github.io/helm-charts
  condition: loki-distributed.enabled
- name: promtail
  version: 3.11.0
  repository: https://grafana.github.io/helm-charts
