apiVersion: v2
name: istio
description: A chart bundling the istio operator for plural
type: application
version: 0.1.92
appVersion: "1.10.3"
dependencies:
- name: istio-operator
  version: 1.7.0
  repository: file://../../../../istio/manifests/charts/istio-operator
- name: kiali-server
  version: 1.37.0
  repository: https://kiali.org/helm-charts
  condition: monitoring.kiali.enabled
