apiVersion: plural.sh/v1alpha1
kind: Dependencies
metadata:
  application: true
  description: deploys istio operator and istio itself
spec:
  breaking: true
  dependencies:
  - type: helm
    name: bootstrap
    repo: bootstrap
    version: '>= 0.7.12'
  - type: terraform
    name: kube
    repo: istio
    version: '>= 0.1.4'
