# Default values for istio.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

provider: aws

istioEgressAllowedTLDs:
- "*.org"
- "*.com"
- "*.sh"
- "*.ai"
- "*.io"
- "*.nl"

istio:
  hub: gcr.io/istio-release
  tag: 1.10.3
  namespace: istio-system
  istioComponents: {}

istio-operator:
  operatorNamespace: istio-operator
  watchedNamespaces: istio-system
  enableCRDTemplates: false
  hub: gcr.io/istio-release
  tag: 1.10.3

monitoring:
  enabled: true
  namespace: monitoring
  grafana:
    namespace: grafana
  kiali:
    enabled: true
  tracing:
    enabled: true
    sampling: 100.0
    tempoNamespace: grafana-tempo
    tempoService: grafana-tempo-tempo-distributed-distributor

# TODO: add prometheus service monitor for Kiali
kiali-server:
  istio_namespace: istio
  api:
    namespaces:
      exclude:
      - istio-operator
      - kube-.*
      - openshift.*
      - ibm.*
  deployment:
    override_ingress_yaml:
      metadata:
        annotations:
            kubernetes.io/tls-acme: "true"
            kubernetes.io/ingress.class: "nginx"
            cert-manager.io/cluster-issuer: letsencrypt-prod
            nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
            nginx.ingress.kubernetes.io/use-regex: "true"
      spec:
        tls:
        - hosts:
          - kiali.kubeflow-aws.com
          secretName: kiali-tls
        rules:
        - host: kiali.kubeflow-aws.com
          http:
            paths:
            - path: /.*
              pathType: Prefix
              backend:
                service:
                  name: kiali
                  port:
                    name: http
  external_services:
    prometheus:
      url: http://monitoring-prometheus.monitoring:9090
    tracing:
      use_grpc: false # we would actually want this to be true, but it doesn't work currently
      in_cluster_url: http://grafana-tempo-tempo-distributed-query-frontend.grafana-tempo:16686
    grafana:
      auth:
        type: basic
        username: admin
        password: ""
      url:
        https://grafana.kubeflow-aws.com
      in_cluster_url: http://grafana.grafana:80
      dashboards:
      - name: "Istio Service Dashboard"
        variables:
          namespace: var-namespace
          service: var-service
      - name: "Istio Workload Dashboard"
        variables:
          namespace: var-namespace
          service: var-service
      - name: "Kubernetes / API server"
        variables:
          var-datasource: default
          var-cluster: ''
          var-instance: All

oauth2proxy:
  enabled: true
  namespace: oauth2-proxy
