apiVersion: v1
kind: Service
metadata:
  name: {{ include "pipelines.fullname" . }}-visualization-server
  namespace: kubeflow
  labels:
    {{- include "pipelines.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.visualizationServer.service.port }}
      targetPort: website
      protocol: TCP
      name: http-website
  selector:
    {{- include "pipelines.visualizationServerSelectorLabels" . | nindent 4 }}
