apiVersion: mysql.presslabs.org/v1alpha1
kind: MysqlCluster
metadata:
  name: kubeflow-mysql-cluster
spec:
  replicas: 2
  secretName: kubeflow-mysql-cluster-root
  volumeSpec:
    persistentVolumeClaim:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 5Gi
  podSpec:
    annotations:
      sidecar.istio.io/inject: "false"
    labels:
      kubeflow.org/component: mysql-cluster
    serviceAccountName: {{ include "mysql-cluster.serviceAccountName" . }}
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - topologyKey: "topology.kubernetes.io/zone"
          labelSelector:
            matchLabels:
              kubeflow.org/component: mysql-cluster
    resources:
    {{- with .Values.resources }}
    {{- toYaml . | nindent 6 }}
    {{- end }}
