apiVersion: v1
kind: Secret
metadata:
  name: kubeflow-mysql-cluster-root
  namespace: kubeflow
  labels: {{- include "mysql-cluster.labels" . | nindent 4 }}
type: Opaque
data:
  ROOT_PASSWORD: {{ .Values.secret.rootPassword | b64enc | quote }}
