name: ingress-nginx-aws
description: Installs ingress-nginx on an aws eks cluster
provider: AWS
dependencies:
- repo: bootstrap
  name: aws-k8s
sections:
- name: ingress-nginx
  configuration: []
  items:
  - type: TERRAFORM
    name: aws
  - type: HELM
    name: ingress-nginx
