name: ingress-nginx-gcp
description: Installs ingress-nginx on a gcp gke cluster
provider: GCP
dependencies:
- repo: bootstrap
  name: gcp-kubernetes
sections:
- name: ingress-nginx
  configuration: []
  items:
  - type: TERRAFORM
    name: gcp
  - type: HELM
    name: ingress-nginx
  - type: HELM
    name: ingress-nginx-private
