name: ingress-nginx-azure
description: Installs ingress-nginx on an azure aks cluster
provider: AZURE
dependencies:
- repo: bootstrap
  name: azure-k8s
sections:
- name: ingress-nginx
  configuration: []
  items:
  - type: TERRAFORM
    name: azure
  - type: HELM
    name: ingress-nginx
  - type: HELM
    name: ingress-nginx-private
