kiali-server:
  enabled: true
  auth:
    strategy: token
  istio_namespace: istio
  # api:
  #   namespaces:
  #     exclude:
  #     - istio-operator
  #     - kube-.*
  #     - openshift.*
  #     - ibm.*
  # deployment:
  #   override_ingress_yaml:
  #     metadata:
  #       annotations:
  #           kubernetes.io/tls-acme: "true"
  #           kubernetes.io/ingress.class: "nginx"
  #           cert-manager.io/cluster-issuer: letsencrypt-prod
  #           nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
  #           nginx.ingress.kubernetes.io/use-regex: "true"
  #     spec:
  #       tls:
  #       - hosts:
  #         - kiali.kubeflow-aws.com
  #         secretName: kiali-tls
  #       rules:
  #       - host: kiali.kubeflow-aws.com
  #         http:
  #           paths:
  #           - path: /.*
  #             pathType: Prefix
  #             backend:
  #               service:
  #                 name: kiali
  #                 port:
  #                   name: http
  external_services:
    istio:
      root_namespace: istio
      component_status:
        enabled: true
        components:
        - app_label: istiod
          is_core: true
        - app_label: istio-ingress
          is_core: true
          is_proxy: true
          namespace: istio-ingress
    prometheus:
      url: http://monitoring-prometheus.monitoring:9090
    # tracing:
    #   use_grpc: false # we would actually want this to be true, but it doesn't work currently
      # in_cluster_url: http://grafana-tempo-tempo-distributed-query-frontend.grafana-tempo:16686
    # grafana:
    #   auth:
    #     type: basic
    #     username: admin
    #     password: ""
    #   url:
    #     https://grafana.kubeflow-aws.com
    #   in_cluster_url: http://grafana.grafana:80
    #   dashboards:
    #   - name: "Istio Service Dashboard"
    #     variables:
    #       namespace: var-namespace
    #       service: var-service
    #   - name: "Istio Workload Dashboard"
    #     variables:
    #       namespace: var-namespace
    #       service: var-service
    #   - name: "Kubernetes / API server"
    #     variables:
    #       var-datasource: default
    #       var-cluster: ''
    #       var-instance: All
