# Default values for airbyte.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  metrics:
    metricClient: otel
    otelCollectorEndpoint: http://plural-otel-collector.monitoring:4317
  database:
    secretName: airbyte.plural-airbyte.credentials.postgresql.acid.zalan.do
    secretValue: password
    host: plural-airbyte
    port: "5432"
  logs:
    minio:
      enabled: false
    s3:
      bucket: "" # this needs to be an empty string, otherwise it will try to setup S3 when it's not enabled like when using GCS

replicaCount: 1

bootloader:
  image:
    repository: dkr.plural.sh/airbyte/airbyte/bootloader
    tag: 0.44.8

airbyte:
  version: 0.44.8

  postgresql:
    enabled: false
  minio:
    enabled: false

  temporal:
    image:
      repository: dkr.plural.sh/airbyte/airbyte/temporal-auto-setup
      pullPolicy: IfNotPresent
      tag: 1.13.0
    extraEnv:
      - name: SQL_TLS_ENABLED
        value: "true"
      - name: SQL_TLS
        value: "true"
      - name: SQL_TLS_DISABLE_HOST_VERIFICATION
        value: "true"

  externalDatabase:
    database: airbyte
    host: plural-airbyte
    existingSecret: airbyte.plural-airbyte.credentials.postgresql.acid.zalan.do
    existingSecretPasswordKey: password
    user: airbyte
    port: 5432

  worker:
    image:
      repository: dkr.plural.sh/airbyte/airbyte/worker
      tag: 0.44.8
    
    log:
      level: INFO

    containerOrchestrator:
      image: dkr.plural.sh/airbyte/airbyte/container-orchestrator:0.44.8

    livenessProbe:
      enabled: true
      initialDelaySeconds: 45
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3
      successThreshold: 1
    
    readinessProbe:
      enabled: true
      initialDelaySeconds: 45
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3
      successThreshold: 1

  cron:
    image:
      repository: dkr.plural.sh/airbyte/airbyte/cron
      tag: 0.44.8

  server:
    image:
      repository: dkr.plural.sh/airbyte/airbyte/server
      tag: 0.44.8
    
    log:
      level: INFO
    
    livenessProbe:
      enabled: true
      initialDelaySeconds: 45
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3
      successThreshold: 1
    
    readinessProbe:
      enabled: true
      initialDelaySeconds: 45
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3
      successThreshold: 1

  connector-builder-server:
    image:
      repository: dkr.plural.sh/airbyte/airbyte/connector-builder-server
      tag: 0.44.8

  airbyte-bootloader:
    enabled: false
    image:
      repository: dkr.plural.sh/airbyte/airbyte/bootloader
      tag: 0.44.8
    extraInitContainers:
    - name: wait-for-pg
      image: gcr.io/pluralsh/busybox:latest
      imagePullPolicy: IfNotPresent
      command: [ "/bin/sh", "-c", "until nc -zv $DATABASE_HOST 5432 -w1; do echo 'waiting for db'; sleep 1; done" ]
      env:
      - name: DATABASE_HOST
        valueFrom:
          configMapKeyRef:
            name: airbyte-airbyte-env
            key: DATABASE_HOST

  pod-sweeper:
    image:
      repository: dkr.plural.sh/airbyte/bitnami/kubectl
      tag: 1.27.2

  metrics:
    enabled: true
    image:
      repository: dkr.plural.sh/airbyte/airbyte/metrics-reporter
      tag: 0.44.8

  webapp:
    image:
      repository: dkr.plural.sh/airbyte/airbyte/webapp
      tag: 0.44.8

    ingress:
      enabled: false
      className: nginx
      annotations:
        kubernetes.io/tls-acme: "true"
        # kubernetes.io/ingress.class: "nginx"
        cert-manager.io/cluster-issuer: letsencrypt-prod
        # Extend timeout to allow long running queries.
        nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
        nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/use-regex: "true"

oidc-config:
  enabled: false
  service:
    name: airbyte-oauth2-proxy
    selector:
      app.kubernetes.io/instance: airbyte
      app.kubernetes.io/name: webapp
  secret:
    env:
      OAUTH2_PROXY_UPSTREAM_TIMEOUT: '120s'

test-base:
  enabled: false
  repository: airbyte
  testName: airbyte-integration
  promoteTag: warm

postgres:
  enabled: true
  team: plural
  user: airbyte
  dbName: airbyte
  ownerChart: airbyte
  infix: ""
  parameters:
    max_connections: '101'

oidcProxy:
  enabled: false

private:
  ingress:
    enabled: false
    className: internal-nginx
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      # Extend timeout to allow long running queries.
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/use-regex: "true"
    service:
      name: airbyte-airbyte-webapp-svc
      port: 80

configOverlays:
  - name: web-cpu
    labels:
      platform.plural.sh/component: airbyte-webapp
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: cpu
    spec:
      name: web cpu
      documentation: cpu requests for webapp deployment
      updates:
        - path: ["airbyte", "airbyte", "webapp", "resources", "requests", "cpu"]
  - name: web-mem
    labels:
      platform.plural.sh/component: airbyte-webapp
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: memory
    spec:
      name: web memory
      documentation: memory requests for webapp deployment
      updates:
        - path:
            ["airbyte", "airbyte", "webapp", "resources", "requests", "memory"]
  - name: worker-cpu
    labels:
      platform.plural.sh/component: airbyte-worker
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: cpu
    spec:
      name: worker cpu
      documentation: cpu requests for worker deployment
      updates:
        - path: ["airbyte", "airbyte", "worker", "resources", "requests", "cpu"]
  - name: worker-mem
    labels:
      platform.plural.sh/component: airbyte-worker
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: memory
    spec:
      name: worker memory
      documentation: memory requests for worker deployment
      updates:
        - path:
            ["airbyte", "airbyte", "worker", "resources", "requests", "memory"]
  - name: server-cpu
    labels:
      platform.plural.sh/component: airbyte-server
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: cpu
    spec:
      name: server cpu
      documentation: cpu requests for server deployment
      updates:
        - path: ["airbyte", "airbyte", "server", "resources", "requests", "cpu"]
  - name: server-mem
    labels:
      platform.plural.sh/component: airbyte-server
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: memory
    spec:
      name: server memory
      documentation: memory requests for server deployment
      updates:
        - path:
            ["airbyte", "airbyte", "server", "resources", "requests", "memory"]
  - name: temporal-cpu
    labels:
      platform.plural.sh/component: airbyte-temporal
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: cpu
    spec:
      name: temporal cpu
      documentation: cpu requests for temporal deployment
      updates:
        - path:
            ["airbyte", "airbyte", "temporal", "resources", "requests", "cpu"]
  - name: temporal-mem
    labels:
      platform.plural.sh/component: airbyte-temporal
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: memory
    spec:
      name: temporal memory
      documentation: memory requests for temporal deployment
      updates:
        - path:
            [
              "airbyte",
              "airbyte",
              "temporal",
              "resources",
              "requests",
              "memory",
            ]
