# Default values for airbyte.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  imageRegistry: dkr.plural.sh/airbyte
  metrics:
    metricClient: otel
    otelCollectorEndpoint: http://plural-otel-collector.monitoring:4317
  database:
    secretName: airbyte.plural-airbyte.credentials.postgresql.acid.zalan.do
    secretValue: password
    host: plural-airbyte
    port: "5432"
  logs:
    accessKey:
      existingSecret: airbyte-airbyte-secrets
      existingSecretKey: AWS_ACCESS_KEY_ID
    secretKey:
      existingSecret: airbyte-airbyte-secrets
      existingSecretKey: AWS_SECRET_ACCESS_KEY
    minio:
      enabled: false

replicaCount: 1

airbyte:
  version: 0.40.18

  postgresql:
    enabled: false
  minio:
    enabled: false

  temporal:
    image:
      tag: 1.16.2
    extraEnv:
      - name: SQL_TLS_ENABLED
        value: "true"
      - name: SQL_TLS
        value: "true"
      - name: SQL_TLS_DISABLE_HOST_VERIFICATION
        value: "true"

  externalDatabase:
    database: airbyte
    host: plural-airbyte
    existingSecret: airbyte.plural-airbyte.credentials.postgresql.acid.zalan.do
    existingSecretPasswordKey: password
    user: airbyte
    port: 5432

  bootloader:
    image:
      tag: 0.40.18

  worker:
    image:
      tag: 0.40.18
    
    log:
      level: INFO

  cron:
    image:
      tag: 0.40.9

  server:
    image:
      tag: 0.40.18
    
    log:
      level: INFO

  webapp:
    image:
      tag: 0.40.18

    ingress:
      enabled: false
      className: nginx
      annotations:
        kubernetes.io/tls-acme: "true"
        # kubernetes.io/ingress.class: "nginx"
        cert-manager.io/cluster-issuer: letsencrypt-prod
        # Extend timeout to allow long running queries.
        nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
        nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
        nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/use-regex: "true"

# metrics:
#   client: otel
#   otelEndpoint: http://plural-otel-collector.monitoring:4317
#   ddAgentHost:
#     valueFrom:
#       fieldRef:
#         fieldPath: status.hostIP

oidc-config:
  enabled: false

test-base:
  enabled: false
  repository: airbyte
  testName: airbyte-integration
  promoteTag: warm

postgres:
  enabled: true
  team: plural
  user: airbyte
  dbName: airbyte
  ownerChart: airbyte
  infix: ""

oidcProxy:
  enabled: false

private:
  ingress:
    enabled: false
    className: internal-nginx
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      # Extend timeout to allow long running queries.
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/use-regex: "true"
    service:
      name: airbyte-webapp
      port: 80

configOverlays:
  - name: web-cpu
    labels:
      platform.plural.sh/component: airbyte-webapp
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: cpu
    spec:
      name: web cpu
      documentation: cpu requests for webapp deployment
      updates:
        - path: ["airbyte", "airbyte", "webapp", "resources", "requests", "cpu"]
  - name: web-mem
    labels:
      platform.plural.sh/component: airbyte-webapp
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: memory
    spec:
      name: web memory
      documentation: memory requests for webapp deployment
      updates:
        - path:
            ["airbyte", "airbyte", "webapp", "resources", "requests", "memory"]
  - name: worker-cpu
    labels:
      platform.plural.sh/component: airbyte-worker
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: cpu
    spec:
      name: worker cpu
      documentation: cpu requests for worker deployment
      updates:
        - path: ["airbyte", "airbyte", "worker", "resources", "requests", "cpu"]
  - name: worker-mem
    labels:
      platform.plural.sh/component: airbyte-worker
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: memory
    spec:
      name: worker memory
      documentation: memory requests for worker deployment
      updates:
        - path:
            ["airbyte", "airbyte", "worker", "resources", "requests", "memory"]
  - name: scheduler-cpu
    labels:
      platform.plural.sh/component: airbyte-scheduler
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: cpu
    spec:
      name: scheduler cpu
      documentation: cpu requests for scheduler deployment
      updates:
        - path:
            ["airbyte", "airbyte", "scheduler", "resources", "requests", "cpu"]
  - name: scheduler-mem
    labels:
      platform.plural.sh/component: airbyte-scheduler
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: memory
    spec:
      name: scheduler memory
      documentation: memory requests for scheduler deployment
      updates:
        - path:
            [
              "airbyte",
              "airbyte",
              "scheduler",
              "resources",
              "requests",
              "memory",
            ]
  - name: server-cpu
    labels:
      platform.plural.sh/component: airbyte-server
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: cpu
    spec:
      name: server cpu
      documentation: cpu requests for server deployment
      updates:
        - path: ["airbyte", "airbyte", "server", "resources", "requests", "cpu"]
  - name: server-mem
    labels:
      platform.plural.sh/component: airbyte-server
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: memory
    spec:
      name: server memory
      documentation: memory requests for server deployment
      updates:
        - path:
            ["airbyte", "airbyte", "server", "resources", "requests", "memory"]
  - name: temporal-cpu
    labels:
      platform.plural.sh/component: airbyte-temporal
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: cpu
    spec:
      name: temporal cpu
      documentation: cpu requests for temporal deployment
      updates:
        - path:
            ["airbyte", "airbyte", "temporal", "resources", "requests", "cpu"]
  - name: temporal-mem
    labels:
      platform.plural.sh/component: airbyte-temporal
      platform.plural.sh/kind: deployment
      platform.plural.sh/resource: memory
    spec:
      name: temporal memory
      documentation: memory requests for temporal deployment
      updates:
        - path:
            [
              "airbyte",
              "airbyte",
              "temporal",
              "resources",
              "requests",
              "memory",
            ]
