apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels: {{- include "profile-controller.labels" . | nindent 4 }}
  name: {{ include "profile-controller.fullname" . }}-leader-election-role-binding
  namespace: kubeflow
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "profile-controller.fullname" . }}-leader-election-role
subjects:
  - kind: ServiceAccount
    name: {{ include "profile-controller.serviceAccountName" . }}
    namespace: kubeflow
