apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ include "profile-controller.fullname" . }}-kfam
  labels: {{- include "profile-controller.labels" . | nindent 4 }}
  {{- with .Values.virtualService.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  gateways:
    {{- range .Values.virtualService.gateways }}
    - {{ . | quote }}
    {{- end }}
  hosts:
    {{- range .Values.virtualService.hosts }}
    - {{ . | quote }}
    {{- end }}
  http:
    - headers:
        request:
          add:
            x-forwarded-prefix: {{ .Values.virtualService.prefix }}
      match:
        - uri:
            prefix: {{ .Values.virtualService.prefix }}/
      rewrite:
        uri: /
      route:
        - destination:
            host: {{ include "profile-controller.fullname" . }}-kfam.kubeflow.svc.{{ .Values.global.clusterDomain }}
            port:
              number: {{ .Values.service.kfam.port }}
