{{- if eq (index .Values "kiali-server" "auth" "strategy") "openid" }}
apiVersion: v1
kind: Secret
metadata:
  name: kiali
  labels:
  {{- include "istio.labels" . | nindent 4 }}
type: Opaque
data:
  oidc-secret: {{ index .Values "kiali-server" "auth" "openid" "client_secret" | b64enc }}
{{- end }}
