apiVersion: v2
name: grafana-agent
description: helm chart for grafana-agent
type: application
version: 0.1.0
appVersion: v0.32.1
dependencies:
- name: grafana-agent
  version: 0.10.0
  repository: https://grafana.github.io/helm-charts
  alias: traces
  condition: traces.enabled
- name: grafana-agent
  version: 0.10.0
  repository: https://grafana.github.io/helm-charts
  alias: logs
  condition: logs.enabled
