agent:
  # -- Enable the agent
  enabled: false
  # -- The name of the cluster that will be added to the agent's external labels
  clusterName: ""

  logLevel: info
  logFormat: logfmt
  podMetadata: {}
  # overrides the version from the image tag
  version: ""
  pasued: false
  image:
    repository: dkr.plural.sh/grafana-agent/grafana/agent
    tag: v0.34.3
  imagePullSecrets: []
  storage: {}
  volumes: []
  volumeMounts: []
  resources: {}
  secrets: []
  configMaps: []
  nodeSelector: {}
  tolerations: []
  affinity: {}
  topologySpreadConstraints: []
  securityContext: {}
  containers: []
  initContainers: []
  priorityClassName: ""
  runtimeClassName: ""
  portName: ""

  metrics:
    scrapeInterval: 15s
    instanceNamespaceSelector: {}
    #   test: test # TODO: we need to support this in the template so we can set empty values
  logs: {}
  integrations: {}

  serviceAccount:
    create: true
    annotations: {}
    name: ""

  enableConfigReadAPI: false
  disableReporting: false
  disableSupportBundle: false

metricsInstance:
  enabled: false
  remoteWrite:
    mimir:
      url: http://mimir-nginx.mimir/api/v1/push
      headers:
        X-Scope-OrgID: plrltest2
    # test:
    #   url: http://mimir-nginx.mimir/api/v1/push
    #   headers:
    #     X-Scope-OrgID: plrltest2
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector: {}
    # matchLabels:
    #   instance: primary

  # Supply an empty namespace selector to look in all namespaces. Remove
  # this to only look in the same namespace as the MetricsInstance CR.
  podMonitorNamespaceSelector: {}
  podMonitorSelector: {}
    # matchLabels:
    #   instance: primary

  # Supply an empty namespace selector to look in all namespaces. Remove
  # this to only look in the same namespace as the MetricsInstance CR.
  probeNamespaceSelector: {}
  probeSelector: {}
    # matchLabels:
    #   instance: primary

logInstance:
  enabled: false
  clients:
    loki:
      url: http://loki-loki-distributed-gateway.loki/loki/api/v1/push
      tenantId: plrltest2
      externalLabels:
        cluster: plrltest2
  podLogsNamespaceSelector: {}
  podLogsSelector:  {}

podLogs:
  enabled: false
  pipelineStages:
    - docker: {}
  namespaceSelector:
    any: true
  selector:
    matchLabels: {}

rbac:
  create: true


traces: # TODO: split this into 2 deployment to allow for tail based sampling. First deployment will be the agent with a loadbalancer exporter, second will be the collector. Waiting for https://github.com/grafana/agent/pull/4148 to be merged.
  enabled: false
  image:
    repository: dkr.plural.sh/grafana-agent/grafana/agent
    tag: v0.34.3
  controller:
    type: deployment
  agent:
    extraPorts:
    - name: grpc-otlp
      port: 4317
      targetPort: 4317
      protocol: "TCP"
    - name: http-otlp
      port: 4318
      targetPort: 4318
      protocol: "TCP"
    - name: grpc-jaeger
      port: 14250
      targetPort: 14250
      protocol: "TCP"
    - name: http-jaeger
      port: 14268
      targetPort: 14268
      protocol: "TCP"
    - name: jaeger-binary
      port: 6832
      targetPort: 6832
      protocol: "UDP"
    - name: jaeger-compact
      port: 6831
      targetPort: 6831
      protocol: "UDP"
    mimirHost: http://mimir-nginx.mimir
    lokiHost: http://loki-loki-distributed-gateway.loki/loki/api/v1/push
    tempoHost: http://tempo-gateway.tempo/otlp
    lokiTenantId: ""
    tempoTenantId: ""
    configMap:
      content: |
        logging {
          level  = "info"
          format = "logfmt"
        }

        mimir.rules.kubernetes "LABEL" {
          address = {{ .Values.agent.mimirHost | quote }}
          tenant_id = {{ .Values.agent.lokiTenantId | quote }}
        }

        loki.source.kubernetes_events "events" {
          forward_to = [loki.write.local.receiver]
        }

        loki.write "local" {
          endpoint {
            url = {{ .Values.agent.lokiHost | quote }}
            tenant_id = {{ .Values.agent.lokiTenantId | quote }}
          }
        }

        otelcol.receiver.otlp "local" {
          http {
            endpoint = "0.0.0.0:4318"
          }
          grpc {
            endpoint = "0.0.0.0:4317"
          }

          output {
            metrics = [otelcol.processor.batch.local.input]
            logs    = [otelcol.processor.batch.local.input]
            traces  = [otelcol.processor.batch.local.input]
          }
        }

        otelcol.receiver.jaeger "local" {
          protocols {
            grpc {
              endpoint = "0.0.0.0:14250"
            }
            thrift_http {
              endpoint = "0.0.0.0:14268"
            }
            thrift_binary {
              endpoint = "0.0.0.0:6832"
            }
            thrift_compact {
              endpoint = "0.0.0.0:6831"
            }
          }

          output {
            metrics = [otelcol.exporter.otlphttp.local.input]
            logs    = [otelcol.exporter.otlphttp.local.input]
            traces  = [otelcol.exporter.otlphttp.local.input]
          }
        }

        otelcol.processor.batch "local" {
          output {
            metrics = [otelcol.exporter.otlphttp.local.input]
            logs    = [otelcol.exporter.otlphttp.local.input]
            traces  = [otelcol.exporter.otlphttp.local.input]
          }
        }

        otelcol.exporter.otlphttp "local" {
          client {
            endpoint = {{ .Values.agent.tempoHost | quote }}
            auth     = otelcol.auth.headers.local.handler
          }
        }

        otelcol.auth.headers "local" {
          header {
            key          = "X-Scope-OrgID"
            value        = {{ .Values.agent.tempoTenantId | quote }}
          }
        }

logs:
  enabled: false
  image:
    repository: dkr.plural.sh/grafana-agent/grafana/agent
    tag: v0.34.3
  controller:
    type: deployment
  agent:
    lokiHost: http://loki-loki-distributed-gateway.loki/loki/api/v1/push
    lokiTenantId: ""
    configMap:
      content: |
        logging {
          level  = "info"
          format = "logfmt"
        }

        discovery.kubernetes "pods" {
          role = "pod"
        }

        loki.source.kubernetes "pods" {
          targets    = discovery.kubernetes.pods.targets
          forward_to = [loki.write.local.receiver]
        }

        loki.source.kubernetes_events "events" {
          forward_to = [loki.write.local.receiver]
        }

        loki.write "local" {
          endpoint {
            url = {{ .Values.agent.lokiHost | quote }}
            tenant_id = {{ .Values.agent.lokiTenantId | quote }}
          }
        }
  configReloader:
    # -- Enables automatically reloading when the agent config changes.
    enabled: true
    image:
      # -- Repository to get config reloader image from.
      repository: jimmidyson/configmap-reload
      # -- Tag of image to use for config reloading.
      tag: v0.8.0
