apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: {{ include "katib.fullname" . }}-db-manager-allow-all
  namespace: kubeflow
  labels: {{- include "katib.labels" . | nindent 4 }}
spec:
  action: ALLOW
  selector:
    matchLabels:
      {{- include "katib.dbManagerSelectorLabels" . | nindent 6 }}
  rules:
  - {}
