apiVersion: v1
kind: Secret
metadata:
  name:  {{ .Values.dbManager.config.secret.name }}
  namespace: kubeflow
  labels: {{- include "katib.labels" . | nindent 4 }}
type: Opaque
data:
  USERNAME: {{ .Values.dbManager.dbUser | b64enc }}
  PASSWORD: {{ .Values.dbManager.dbPassword | b64enc | quote }}
