{{ if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccount.name }}
  annotations: 
  {{ toYaml .Values.serviceAccount.annotations | nindent 4 }}
  labels:
  {{ include "gitlab-plural.labels" . | nindent 4}}
{{ end }}
