postgres:
  enabled: true
  team: plural
  user: yatai
  dbName: yatai
  ownerChart: yatai
  version: "14"

yatai:
  registry: dkr.plural.sh
  image:
    repository: yatai/bentoml/yatai
    tag: 1.1.9
  postgresql:
    host: plural-postgres-yatai
    sslmode: require
    passwordExistingSecretName: "yatai.plural-postgres-yatai.credentials.postgresql.acid.zalan.do"
    passwordExistingSecretKey: "password" 
  ingress:
    enabled: true
    className: nginx
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod 
    hosts:
      - host: yatai.dev.plural.sh
        paths:
        - /
    tls:
    - secretName: yatai-ingress-tls
      hosts:
        - yatai.dev.plural.sh
  serviceAccount:
    create: true
    name: yatai
  s3:
    endpoint: "s3.amazonaws.com"
  resources:
    limits:
      memory: 520Mi
    requests:
      cpu: 2m
      memory: 64Mi


yatai-deployment:
  registry: dkr.plural.sh
  image:
    repository: yatai/bentoml/yatai-deployment
    tag: 1.1.11
  serviceAccount:
    name: "yatai-deployment"
  yataiServiceAccount:
    namespace: "yatai"
    name: "yatai"
  layers:
    network:
      ingressAnnotations:
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod 
      domainSuffix: yatai.dev.plural.sh
  yataiSystem:
    namespace: "yatai"
    serviceAccountName: "yatai"
  resources:
    limits:
      memory: 64Mi
    requests:
      cpu: 2m
      memory: 32Mi

yatai-image-builder:
  registry: dkr.plural.sh
  image:
    repository: yatai/bentoml/yatai-image-builder
    tag: 1.1.4
  yatai:
    endpoint: http://yatai.yatai.svc.cluster.local
  serviceAccount:
    name: yatai-image-builder
  yataiSystem:
    namespace: "yatai"
    serviceAccountName: "yatai"
  dockerRegistry:
    secure: true
  resources:
    limits:
      memory: 128Mi
    requests:
      cpu: 2m
      memory: 64Mi

initialization:
  email: ""
  username: ""
  password: ""
