apiVersion: v1
data:
  {{ if eq .Values.controller.rwoScheduling.enabled false }}
  RWO_PVC_SCHEDULING: "False"
  {{ else }}
  RWO_PVC_SCHEDULING: "True"
  {{ end }}
kind: ConfigMap
metadata:
  name: {{ include "volumes.fullname" . }}-controller-config
  namespace: kubeflow
  labels: {{- include "volumes.labels" . | nindent 4 }}
