{{- if .Values.oidc.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: harbor-oidc-secret
stringData:
  config: |
    {
        "oidc_auto_onboard": true,
        "oidc_name": "Plural",
        "oidc_client_id": "{{ .Values.oidc.client_id }}",
        "oidc_endpoint": "{{ .Values.oidc.endpoint }}",
        "oidc_client_secret": "{{ .Values.oidc.client_secret }}",
        "oidc_scope": "openid profile offline_access",
        "oidc_user_claim": "email",
        "oidc_groups_claim": "groups"
    }
{{- end }}