apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  labels: {{- include "pipelines.labels" . | nindent 4 }}
  name: {{ include "pipelines.fullname" . }}-metadata-grpc-server
  namespace: kubeflow
spec:
  host: {{ include "pipelines.fullname" . }}-metadata-grpc-server.kubeflow.svc.{{ .Values.global.clusterDomain }}
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL
