apiVersion: v1
kind: Service
metadata:
  name: {{ include "pipelines.fullname" . }}-metadata-grpc-server
  namespace: kubeflow
  labels:
    {{- include "pipelines.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.metadata.grpc.service.port }}
      targetPort: api
      protocol: TCP
      name: grpc-api
  selector:
    {{- include "pipelines.metadataGRPCServerSelectorLabels" . | nindent 6 }}
