apiVersion: v1
kind: Secret
metadata:
  name: redash
  labels:
{{ include "redash.labels" . | indent 4 }}
stringData:
  REDIS_URL: redis://:{{ .Values.secrets.redis_password }}@{{ .Values.secrets.redis_host }}:6379