apiVersion: plural.sh/v1alpha1
kind: Dependencies
metadata:
  application: true
  description: Deploys istio-ingress crafted for the target cloud
spec:
  dependencies:
  - type: helm
    name: bootstrap
    repo: bootstrap
    version: '>= 0.7.12'
  - type: helm
    name: istio
    repo: istio
    version: '>= 0.1.101'
  - type: terraform
    name: kube
    repo: istio-ingress
    version: '>= 0.1.0'
