provider: ""

gateway:
  topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: topology.kubernetes.io/zone
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        istio: ingress

istioGateway:
  enabled: true
  hosts: []
  tls:
    enabled: true
    commonName: ""
    dnsNames: []
    issuerRef:
      name: letsencrypt-prod
      kind: ClusterIssuer
